.footer {
  width: 100%;
  height: 64px;
  background: #2f2f2f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  flex-shrink: 0;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

    
.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ffb200;
  color: #2b2b2b;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.role {
  opacity: 0.7;
  font-size: 12px;
}